<ol class="carousel_view">
  {{#if items}} {{#each items}}
  <li class="{{this}}"></li>
  {{#if true}}
  <li class="dashes"></li>
  {{/if}} {{/each}} {{/if}}
</ol>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->