
    <div class="xecmpf-eac-popover-backbutton">
        {{#if enableBackButton}}
        <button class="csui-icon xecmpf-eac-popover-back-icon" aria-hidden="true" id="xecmpf-eac-popover-back"></button>
        {{/if}}
    </div>

<div class="eac-header">
    <span class="xecmpf-eac-popover-headerName">{{headerTypeName}} {{index}}</span>
    <span class="xecmpf-eac-popover-plan">{{planName}}</span>
</div>

    <div class="xecmpf-eac-popover-nextbutton">
        {{#if enableNextButton}}
        <button class="csui-icon xecmpf-eac-popover-next-icon" aria-hidden="true" id="xecmpf-eac-popover-next"></button>
        {{/if}}
    </div>


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->