<div class="xecmpf-eac-popover-header"></div>
<div class="xecmpf-eac-navigation-controller"></div>
<div class="csui-perfect-scrolling xecmpf-eac-popover-content-all">
    <div class="xecmpf-eac-rules-header">{{rule}}</div>    
    <div class="xecmpf-eac-rules-region"></div>

    <div class="xecmpf-eac-actionplan-header">{{actionPlanLabel}}</div>
    <div class="xecmpf-eac-action-region"></div>

    <div class="xecmpf-eac-popover-runas">
    </div>
</div>
<div class="xecmpf-eac-popover-footer"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->