<div class="xecmpf-eac-config-rules-layout-view">
    <div class="xecmpf-eac-config-rules-view"></div>
    <div class="xecmpf-eac-config-rules-addbutton">
        <span><button class="csui-icon eac-add-icon" aria-hidden="true" id="addEACRuleRowForm"></button></span>
    </div>
</div>
<div>

</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->