<div class="csui-sidepanel-title">
    <h2 class="csui-heading">{{title}}</h2>
</div>
<div class="csui-sidepanel-close" title="Close" role="button">
    <div class="icon circular icon-toolbarAdd"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->