<div class="csui-sidepanel-backdrop"></div>
<div class="csui-sidepanel-container">
    <div class="csui-sidepanel-header"></div>
    <div class="csui-sidepanel-body"></div>
    <div class="csui-sidepanel-footer"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->