
<span class='eac-edit-actionpaln-label'>{{actplanLabel}} 0{{index}}</span>
<span class='eac-edit-eventname'>{{eventname}}</span>
<button class='csui-icon eac-delete-icon'></button>
<button class='csui-icon eac-edit-icon'></button>
<hr />


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->