<div class="conws-reference-metadata"></div>
{{#if change_reference}}
  <div class="conws-reference-buttons">
    <div class="conws-label-buttons">{{reference_buttons_label}}</div>
    {{#if allow_remove_reference}}
      <button type="button" class="binf-btn binf-btn-default remove">{{remove_button_title}}</button>
    {{/if}}
    <button type="button" class="binf-btn binf-btn-default replace">{{replace_button_title}}</button>
  </div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->