{{#if summary}}

<h2 class="xecmpf-eac-actions-header">{{actionslabel}}</h2>
<div class="xecmpf-eac-actions-container"></div>

{{else}}

<div class="csui-perfect-scrolling xecmpf-eac-actions-form">
    <div class="xecmpf-eac-actions-container"></div>
    <div class="xecmpf-eac-actions-new-add">
      <span class="carousel-nav-dash"></span>
      <span class="csui-icon eac-add-icon" aria-hidden="true"></span>
      <span class="carousel-nav-dash"></span>
    </div>
</div>

{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->