{{#if summary}}

<h2 class="xecmpf-eac-rules-header">{{rulesLabel}}</h2>
<div class="xecmpf-eac-rules-container"></div>

{{else}}
<div class="csui-perfect-scrolling xecmpf-eac-rules-form">
    <div class="xecmpf-eac-rules-container"></div>
</div>


{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->