<div class='csui-perfect-scrolling xecmpf-eac-summary-view'>
    <div class="xecmpf-eac-summary-bo-form">
        <span class="xecmpf-eac-summary-bussapp">{{bussapp}}</span>
        <span class="xecmpf-eac-summary-namespace">{{namespace}}</span>
    </div>
    <div class="xecmpf-eac-summary-rules"></div>
    <div class="xecmpf-eac-summary-actions"></div>
    <div class="xecmpf-eac-summary-form"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->