<div class="xecmpf-boattachmentstable">
    <div id="botabletoolbar" class="csui-rowselection-toolbar"></div>
    <div id="botableview"></div>
    <div id="bopaginationview"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->