{{#each items}}
{{#if @last}}
<div class="carousel-nav-dot"></div>
{{else}}
<div class="carousel-nav-dot"></div>
<div class="carousel-nav-dash"></div>
{{/if}}
{{/each}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->